page-login {



.login{

 background-image: url('../../assets/imgs/nx.jpg');
 background-attachment: fixed;
 background:cover;
}

.list{
    // opacity: 0.8;
 background:rgba(3, 42, 114, 0.349);
 text-align: center;
 color: white;

}

// .btn{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 40rem;
// }



}